
.my_section_about
{
    background-color: #1ABC9C;
    color: white;
}

.my_navbar
{
    
    background-color: #2C3E50;
}
.green
{
    background-color: #1ABC9C;
}
.blue
{
    color: #343541;
    

}

.TEST
{
    display: none;
}